.navbar
  .logo
    width 2.2rem
    height 2.2rem
    object-fit cover
.home-blog-wrapper
  .info-wrapper
    .personal-info-wrapper
      .personal-img
        object-fit cover
        transition all 0.5s
        &:hover
          transform scale(1.1)
  .blog-list
    .abstract-item
      background url("/item.jpeg") no-repeat center 72%
      padding 16px 20px
      .title
         line-height 60px
         font-size 26px
      .iconfont
         line-height 2rem
  .info-wrapper
    .tags
      margin 20px 0
      span
        padding 8px 10px

