$accentColor = #3083EB
//@keyframes rotate
//  from {
//    left -100%
//  }
//  to {
//    left 0
//  }
//.hero
//  position relative
//  &:after
//    position absoluteFFFFFF
//    content ''
//    width 100%
//    height 100%
//    background rgba(0,0,0,.3)
//    left 0
//    z-index 999
//    animation rotate 5s linear infinite
//body
//  &:before
//    content ''
//    background url("/2.png") no-repeat center center
//    position fixed
//    top 0
//    left 0
//    z-index -1
//    width 100vw
//    height 100vh

.abstract-item
  background url("/my-blog/item.jpeg") no-repeat center 72%
  padding 16px 20px

  .title
    line-height 60px
    font-size 26px

    a
      color #333333 !important

  .iconfont
    line-height 2rem